body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange{
    color: #FB6376;
}
.blue{
    color: #610f7f;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#FB6376, #da344d);
    padding: 8px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.coffee{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.padding{
    padding-right: 150px;
    justify-content: center;
}
.experiences{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-card1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #f7c6cc;
    border-left: 7px solid #FB6376;
}
.experience-card2{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #e0b6ef;
    border-left: 7px solid #610f7f;
}
.padex{
    padding-left: 100px;
}
footer p{
    text-align: center;
}